header.article-info.clearfix
    h1(itemprop="name")
        if item.link
            a(href="#{item.link}" target="_blank" title="#{itenm.title}") #{item.title}
        else
            a(href="#{config.root}#{item.path}" title="#{item.title}" itemprop="url") #{item.title}


